body {
    background-color: black;
    margin: 0;
}

html {
    margin: 0;
}

img {
    display: block;
    margin: 0 auto;
}

@media (max-width: 800px){
    img {
        width: 100%;
        height: auto;
    }
    #mobile{
        display: block;
    }
    #desktop{
        display: none;
    }
}
@media (min-width: 800px){
    #mobile{
        display: none;
    }
    #desktop{
        display: block;
    }
}
